<ion-view id="resumen" view-title="Resumen">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="ordenes-info">
      <a class="oi-cont oi-cont-0" href="#/app/ordenes/0">
        <div class="oi-num">{{ ordenes.length }}</div>
        <div class="oi-des">
          <p>Total solicitudes</p>
          <i class="ion-chevron-right"></i>
        </div>
      </a>
      <a class="oi-cont oi-cont-1" href="#/app/ordenes/1">
        <div class="oi-num">{{ ri.length }}</div>
        <div class="oi-des">
          <p>Recepción de información</p>
          <i class="ion-chevron-right"></i>
        </div>
      </a>
      <a class="oi-cont oi-cont-2" href="#/app/ordenes/2">
        <div class="oi-num">{{ sp.length }}</div>
        <div class="oi-des">
          <p>Servicio programado</p>
          <i class="ion-chevron-right"></i>
        </div>
      </a>
      <a class="oi-cont oi-cont-3" href="#/app/ordenes/3">
        <div class="oi-num">{{ iu.length }}</div>
        <div class="oi-des">
          <p>Ingreso de la Unidad</p>
          <i class="ion-chevron-right"></i>
        </div>
      </a>
      <a class="oi-cont oi-cont-4" href="#/app/ordenes/4">
        <div class="oi-num">{{ er.length }}</div>
        <div class="oi-des">
          <p>En Reparación</p>
          <i class="ion-chevron-right"></i>
        </div>
      </a>
      <a class="oi-cont oi-cont-5" href="#/app/ordenes/5">
        <div class="oi-num">{{ pf.length }}</div>
        <div class="oi-des">
          <p>Por Finalizar</p>
          <i class="ion-chevron-right"></i>
        </div>
      </a>
      <a class="oi-cont oi-cont-6" href="#/app/ordenes/6">
        <div class="oi-num">{{ f.length }}</div>
        <div class="oi-des">
          <p>Finalizado</p>
          <i class="ion-chevron-right"></i>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
