<ion-view view-title="Unidad">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-back-button side="left">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Información de la Unidad
      </div>
      <div class="item item-text-wrap">
        <p>
          <strong>Vehículo:</strong> {{unit.vehicle}}<br />
          <strong>Marca:</strong> {{unit.brand}}<br />
          <strong>Color:</strong> {{unit.colour}}<br />
          <strong>Modelo:</strong> {{unit.model}}<br />
          <strong>Año:</strong> {{unit.year}}<br />
          <strong>No. Económico:</strong> {{unit.economic_number}}<br />
          <strong>Placas:</strong> {{unit.plates}}<br />
          <strong>No. de Serie:</strong> {{unit.serial_number}}<br />
          <strong>Carburación:</strong> {{unit.carburization}}<br />
          <strong>Cilíndros:</strong> {{unit.cylinders}}<br />
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
