<ion-view id="mi-cuenta" view-title="Mi Cuenta">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          <strong>Nombre:</strong> {{elnombre}}<br/>
          <strong>Apellidos:</strong> {{paterno}} {{materno}}<br/>
          <strong>Rol:</strong> {{rol}}<br/>
          <strong>Correo:</strong> {{correo}}<br />
          <strong>Cliente:</strong> {{cliente}}<br />
        </p>
        <button class="button button-assertive" ng-click="signOutClick()">Cerrar Sesión</button>
      </div>
    </div>

  </ion-content>
</ion-view>
