<ion-view view-title="Orden">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-back-button side="left">
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button id="add-new" class="button button-icon icon ion-edit" ng-click="openModal()"></button>
      <button id="add-new" class="button button-icon icon ion-trash-b" ng-click="showDeleteConfirm()" ng-if="canDelete(rolId)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Información General
      </div>
      <div class="item item-text-wrap">
          <p><strong>Folio:</strong> {{order.folio_number}}</p>
          <p><strong>Unidad:</strong> {{order.unit.economic_number}}</p>
          <p><strong>Categoría:</strong> {{order.category.name}}</p>
          <p><strong>Observaciones:</strong> {{order.observations}}</p>
          <p><strong>Descripción:</strong> {{order.service.description}}</p>
          <p ng-if="canSee()"><strong>Costo:</strong> ${{order.service.cost}}</p>
          <p><strong>Precio al Público:</strong> ${{order.service.public_price}}</p>
          <p><strong>Tiempo de respuesta:</strong> {{order.service.response_time}}</p>
      </div>
      <div class="item item-divider">
        Status
      </div>
      <div class="item item-text-wrap">
        <h2>{{setTheString(order.status)}}</h2>
      </div>
      <div class="item item-divider">
        Detalles de Unidad
      </div>
      <div class="item item-text-wrap">
        <p>
          <strong>No. Económico:</strong> {{order.unit.economic_number}}<br />
          <strong>Marca:</strong> {{order.unit.brand}}<br />
          <strong>Color:</strong> {{order.unit.colour}}<br />
          <strong>Modelo:</strong> {{order.unit.model}}<br />
          <strong>Año:</strong> {{order.unit.year}}<br />
          <strong>Placas:</strong> {{order.unit.plates}}<br />
          <strong>No. de Serie:</strong> {{order.unit.serial_number}}<br />
          <strong>Carburación:</strong> {{order.unit.carburization}}<br />
          <strong>Cilíndros:</strong> {{order.unit.cylinders}}<br />
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
