<ion-view id="ordenes" view-title="Solicitudes">
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button id="add-new" class="button button-icon icon ion-ios-plus" ng-click="openModal()" ng-if="canCreate()"></button>
    </ion-nav-buttons>

    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>

      <!-- todas las ordenes -->
      <ion-item data-ng-repeat="order in orders" ng-click="goOrder(order.id)" ng-if="filtrado == 0">
        <div class="l-1 row">
          <div class="col">
            <p><span class="span-left">Folio:</span> {{order.folio_number}}</p>
          </div>
        </div>
        <div class="l-1 row">
          <div class="col">
            <p><span>Unidad:</span> {{order.unit.economic_number}}</p>
          </div>
        </div>
        <div class="l-2 row">
          <div class="col">
            <p>{{order.observations}}</p>
          </div>
        </div>
        <div class="l-3 row">
          <div class="col status-bar" ng-class="setTheClass(order.status)">
            <p>{{ setTheString(order.status) }}</p>
          </div>
        </div>
      </ion-item>

      <!-- ordenes filtradas -->
      <ion-item data-ng-repeat="order in filteredOrders = ( orders | filter: { status: filtrado } )" ng-click="goOrder($index)" ng-if="filtrado != 0">
        <div class="l-1 row">
          <div class="col">
            <p><span class="span-left">Folio:</span> {{order.folio_number}}</p>
          </div>
        </div>
        <div class="l-1 row">
          <div class="col">
            <p><span>Unidad:</span> {{order.unit.economic_number}}</p>
          </div>
        </div>
        <div class="l-2 row">
          <div class="col">
            <p>{{order.observations}}</p>
          </div>
        </div>
        <div class="l-3 row">
          <div class="col status-bar" ng-class="setTheClass(order.status)">
            <p>{{ setTheString(order.status) }}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <h3 ng-if="filteredOrders.length == 0 && filtrado != 0">No hay solicitudes en estado: {{setTheString(filtrado)}}</h3>
  </ion-content>
</ion-view>
