@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight:600;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight:200;
}
