/* Empty. Add your own CSS if you like */
@import 'fonts.css';
/* GENERAL
––––––––––––––––––––––––––––
––––––––––––––––––––––––––––*/
body * {
  font-family: 'ProximaNova', Helvetica, Arial;
}
body,ion-side-menus, ion-side-menu-content, ion-nav-view.the-darkness, ion-nav-view, ion-view,ion-content{
  background: #434343;
  color:#fff;
}
.scroll{background: transparent}
.the-darkness ion-header-bar.bar-stable.bar.bar-header {
  background: #434343;
  box-shadow: none;
  color:#fff;
}
.the-darkness .buttons .button {
  color: white;
}
/* header */
ion-nav-bar.bar.bar-header {
  border-color: #434343;
  background-color: #434343;
  background-image: linear-gradient(0deg, #434343, #434343 50%, transparent 50%);
}
.platform-ios .nav-bar-block .bar-header{
  height: 44px !important;
}
.platform-ios .nav-bar-block .bar-header .header-item{
  margin-top:0px !important;
}
button#add-new:before{
  font-size: 24px;
}

.has-textarea textarea {
  height: 70px;
}
.light-bg{
  background: white;
}
form.list.tracto-modal {
  margin-bottom: 0;
}
.tracto-modal .item-input input {
  background: #e2e2e2;
  width: 65%;
  padding: 0 1em;
  border-radius: 2px;
}
.tracto-modal .item-select select{
  background: #e2e2e2;
  border-radius: 2px;
  height: 34px;
  margin-top: 6px;
}
button.button.button-icon.icon.s-icon {
  min-height: auto;
  height: 16px;
}
button.button.button-icon.icon.s-icon:before {
  font-size: 15px;
  line-height: 15px;
}
/* popup */
.popup-head{
  border-bottom: 1px solid #d8d8d8;
}
.popup-body{
  color: #000;
  text-align: center;
}
/* list */
.list ion-item.item {
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#ececec 100%);
}
.list ion-item.item span{
  color: #FF7600;
  font-weight: bold;
}
.round-btn{

}
.absolute-btn{

}
.orange-btn{
  background: #ff7600;
  color:white;
}
.orange-box{
  background: #ff7600;
  color:white;
  border:none;
}
.orange-box *{
  color:white;
}
.gray-box {
  background: #444444;
  color: white;
}
.gray-box *{
  color:white;
}

/* ANDROID
––––––––––––––––––––––––––––*/
.platform-android ion-view#login .scroll {
  margin-top: 0;
}
/* MENU
––––––––––––––––––––––––––––*/
#left-menu .scroll {
  display: flex;
  flex-direction: column;
}
.menu-header {
  width: 100%;
  height: 180px;
  background-image: url(../img/menu-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
}
.menu-header h1 {
  color: white;
  margin-bottom: 0;
  font-size: 24px;
}
.menu-header h3 {
  font-size: 17px;
  color: white;
  margin: 0;
}
.menu-header p{
  font-size: 15px;
  color:white;
  margin:0;
}
.custom-list .item {
  border: none;
  background: none;
}
.custom-list a.item-content {
  background-color: #434343;
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.custom-list .item-content label {
  font-size: 17px;
}
.current a.item-content {
  background: linear-gradient(to right, #363636 , #434343);
}
#left-menu .tracto-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0.5em 1em;
}
#left-menu .tracto-info p{
  margin-top: .5em;
  color: #aaa;
}
#left-menu img#logo-menu {
  width: 100%;
  max-width: 200px;
  align-self: center;
}

/* LOGIN
––––––––––––––––––––––––––––*/
#login ion-content {
    background: url(../img/login-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
}
ion-view#login .scroll {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}
#login img#the-logo {
  display: flex;
  width: 100%;
  max-width: 220px;
  justify-content: center;
  align-items: center;
  margin:2em;
}
#login form {
  width: 90%;
  max-width: 375px;
  padding: 1.5em;
  margin: 2em 0;
  min-height: 215px;
}
#login form .item{
  background: transparent;
  border: none;
  padding: .3em;
}
#login form .list .item input {
  background: rgba(67,67,67,.6);
  border: 1px solid #FF6000;
  border-radius: 50px;
  text-align: center;
  padding: 1.1em 1em 1em;
  font-size: 17px;
  line-height: 27px;
  color: white;
}
#login button.button.tracto-btn {
  color: white;
  background: #FF6000;
  margin: 1em auto 0;
  display: block;
  min-height: 30px;
  padding: 0 2em;
  font-size: 15px;
  line-height: 25px;
}
#login form label{
  font-size:15px;
  color:#AFAFAF;
  text-align: center;
}
#login form .item a{
  text-decoration: none;
  color:#AFAFAF;
}
/* RESUMEN
––––––––––––––––––––––––––––*/
.ordenes-info{
  max-width: 320px;
  width: 100%;
  display: block;
  margin: auto;
  padding: 1em;
}
.oi-cont{
  text-decoration: none;
  border: solid 4px;
  margin-bottom: .3em;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:50px;
  background: white;
  color: black;
}
.oi-num{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  border-radius: 200px;
  margin-left: -4px;
  color:black;
}
.oi-des{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  padding: 0 1em;
}
.oi-des p{
  margin:0;
  font-size: 16px
}
.oi-cont-0{
border-color:#F58B10;
background-color: #F58B10;
margin-bottom: 1em;
}
.oi-cont-0 p{
  font-size: 20px;
}
.oi-cont-1{
border-color:#FD2727;
}
.oi-cont-2{
  border-color:#F58B10;
}
.oi-cont-3{
  border-color:#FFC810;
}
.oi-cont-4{
  border-color:#DAFD15;
}
.oi-cont-5{
  border-color:#9EE31C;
}
.oi-cont-6{
  border-color:#0FBE15;
}
.oi-cont-1 .oi-num{
background-color:#FD2727; 
}
.oi-cont-2 .oi-num{
  background-color:#F58B10; 
}
.oi-cont-3 .oi-num{
  background-color:#FFC810; 
}
.oi-cont-4 .oi-num{
  background-color:#DAFD15; 
}
.oi-cont-5 .oi-num{
  background-color:#9EE31C; 
}
.oi-cont-6 .oi-num{
  background-color:#0FBE15; 
}

/* ORDENES
––––––––––––––––––––––––––––*/
#ordenes h3{
  padding:1em;
  color: white;
}

#ordenes .list ion-item.item{
  padding: 0;
  text-align: center;
}
#ordenes a.item-content {
  padding: 0;
  text-align: center;
}
#ordenes .list ion-item.item p{
  color: #474747;
  font-size: 16px;
  white-space: normal;
}
#ordenes .list ion-item.item .l-1.row p{
  text-align: left;
}
#ordenes .l-1.row, #ordenes .l-2.row {
  width: 95%;
  margin: auto;
  border-bottom: 1px solid #fff;
}
#ordenes  .l-2 p{
  font-weight: bold;
}
#ordenes .l-3{
  padding:0;
  position:relative;
}
#ordenes .status-bar{
  padding:0;
  height:45px;
  position:relative;
}
#ordenes .status-bar p {
  margin-top: 1em;
}
#ordenes .status-bar:before{
  content: '';
  position: absolute;
  top: 5px;
  left: 0px;
  height: 40px;
  z-index: -1;
  opacity: .2;
}
#ordenes .status-bar:after{
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 5px;
}
.status-bar.recepcion-status:before, .status-bar.recepcion-status:after{background: #FD2727; width:10%}
.status-bar.servicio-status:before, .status-bar.servicio-status:after{background: #F58B10; width:30%}
.status-bar.ingreso-status:before, .status-bar.ingreso-status:after{background: #FFC810; width:50%}
.status-bar.repara-status:before, .status-bar.repara-status:after{background: #DAFD15; width:70%}
.status-bar.porfin-status:before, .status-bar.porfin-status:after{background: #9EE31C; width:85%}
.status-bar.final-status:before, .status-bar.final-status:after{background: #0FBE15; width:100%}

/* UNIDADES
––––––––––––––––––––––––––––*/
#unidades ion-item.item {
  padding: .5em;
}
#unidades .list ion-item.item span.no-econ {
  color: #444;
  font-weight: bold;
}
.l-header.row {
  background: #ddd;
  margin-bottom: .3em;
}
/* RESCATE
––––––––––––––––––––––––––––*/
#rescate .bar-assertive, #rescate .button-assertive,
#rescate-modal .bar-assertive, #rescate-modal .button-assertive{
  border-color: #B90017;
  background-color: #B90017;
  background-image: linear-gradient(0deg, #B90017, #B90017 50%, transparent 50%);
}
#rescate .button-assertive, #rescate-modal .button-assertive{
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  padding: .5em;
  height: 13%;
}
#rescate-modal .button-assertive{
  font-size: 20px;
}
#rescate .scroll, #rescate-modal .scroll{
  height:100%;
}
#rescate #datos {
  background: #FF6000;
  margin-bottom: 0px;
  padding: 1em 1em .3em;
  height: 40%;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#rescate #datos .toggle input:checked + .track {
  border-color: #4cb8d9;
  background-color: #4cb8d9;
}
#rescate #datos .toggle input + .track {
  border-color: #4cd964;
  background-color: #4cd964;
}
#rescate #datos .input-label {
  color: white;
}
#rescate #datos .item {
  background: transparent;
  color: white;
  padding: 0;
  border: none;
  /*border-bottom: 1px solid #d04e00;*/
}
#rescate #datos .item:nth-last-child(1){
  border-bottom: none;
}
#rescate #datos .form-header{
  text-align: center;
  font-weight: 600;
  margin: auto;
  font-size: 18px;
  padding: 0;
}
#rescate .smaller-row {
  width: 100%;
  max-width: 250px;
  margin: auto;
  padding: 0;
}
#rescate #datos .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#rescate #datos .smaller-row .col .input-label{
  font-size: 17px;
  padding: .3em 0;
  margin: 0;
}
#rescate #datos .select-container {
  background: white;
  width: 100%;
  overflow: hidden;
  padding: .5em 1em;
  position:   relative;
}
#rescate #datos .select-container, #rescate #datos textarea.com-input,
#rescate #datos input.ubi-input {
  margin: 3% 0;
}
#rescate #datos .select-container .input-label{
  width:25%;
}
#rescate #datos .select-container select {
  width: 75%;
  right: 30px;
}
#rescate #datos .select-container .input-label,
#rescate #datos .select-container select {
  padding: 0;
  margin: 0;
  color: #aaa;
}
#rescate #datos textarea.com-input {
  height: 50px;
}
#rescate #datos .select-container,#rescate #datos .com-input,#rescate #datos .ubi-input {
  background: white;
  padding: .5em 1em;
  border: 1px solid #B90017;
  box-shadow: 0px 3px 5px #b34300;
  font-size: 17px;
}
.not-rescate-map {
  padding: 1.5em 1em;
  height: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-image: url(../img/map-bg.jpg);
  background-size: cover;
  background-origin: initial;
  background-position: center;
}
#rescate .not-rescate-map .button {
  width: 230px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 2px 5px #777;
  padding: 2px 1em 1px;
}
#rescate .rescate-map {
  width: 100%;
  height: 37%;
  position: relative;
}
#rescate-modal .has-header{
  top:88px;
}
#rescate-modal .rescate-map {
  width: 100%;
  height: 87%;
  position: relative;
}
#rescate-modal img.marker, #rescate img.marker {
  position: absolute;
  z-index: 9;
  width: 40px;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -40px;
}
#rescate-modal .bar.bar-subheader{
  background: #434343;
}
.platform-ios #rescate-modal .bar.bar-subheader {
  top:64px;
}
#rescate-modal .button-clear:before{
  font-size: 20px;
  color:#eee;
}
.rescate-ubi {
  background: #ea5b04;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5em;
  height: 10%;
}
.rescate-ubi p{
  width: 75%;
}
.rescate-ubi button{
  width:25%;
}
